/.metadata
/.vscode
/10G.txt
/A
/Amma
/atm.c.c
/Bank.c
/botcode.txt
/cal.css
/calculation.html
/chromedriver-win64
/class1.txt
/copiedfile.py
/CPS unit 2.pptx
/desktop.ini
/DOC-20231105-WA0001..pptx
/eclipse
/Eclipse IDE for Java Developers - 2023-12.lnk
/GitHub Desktop.lnk
/Google Classroom.lnk
/Guessnumber.class
/Guessnumber.java
/guizero
/hai.html
/hai2.html
/Hello
/Hello.class
/hello.java
/hs_err_pid3412.log
/html course
/icons.txt
/iot internship.txt
/Microsoft Edge.lnk
/Microsoft VS Code
/MinGW Installer.lnk
/Network - Shortcut.lnk
/osss.pptx
/password.txt
/Person 1 - Chrome.lnk
/reg.html
/s.txt
/Sa
/sadhana
/Selinium
/selinium2
/Telegram.lnk
/TestNg
/ttext toimage.py
/Visual Studio Code.lnk
/whatsapp.jpg